.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.login__logo {
    width: 100px;
    object-fit: contain;

}


.login__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}


.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}


.login__container > form > h5 {
    margin-bottom: 5px;
}


.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}


.login__container > p {
    font-size: 12px;
    margin-top: 15px;
}


.login__signinButton {
    background: #f0c14b;
    border-radius: 2px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    height: 30px;
    margin-top: 10px;
    width: 100%;
    transition: transform 400ms;
}

.login__signinButton:hover {
    cursor: pointer;
    transform: scale(1.08);
}


.login__registerButton {
    border-radius: 2px;
    border: 1px solid;
    border-color: darkgray;
    height: 30px;
    margin-top: 10px;
    width: 100%;
    transition: transform 400ms;
}


.login__registerButton:hover {
    cursor: pointer;
    transform: scale(1.08);
}